header{
    width: 100%;
    position: relative;
  }
  
header img{
    height: 8vh;
    position: absolute;
    top: 20%;
    left: 1%;
}
  
header h1{
    display: inline-block;
    margin: 40px 25px;
    color: #74B3CE;
    font-weight: 600;
    font-size: 25px;
}